@import 'bootstrap';

.container-fluid {
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.fixed-top {
    position: unset;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}