@import "bootstrap";

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fixed-top {
  position: unset;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.list-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
}

.list-item__user {
  display: block;
  flex: 0 0 130px;
  width: 130px;
  max-width: 130px;
  padding: 15px;
  border-right: 1px solid #ddd;
  background-color: #f6f6f6;
  text-align: center;
}

.list-item__name {
  display: inline-block;
  margin-bottom: 2px;
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 112.5%;
  text-decoration: none;
}

.list-item__left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 2 1 100%;
  padding: 15px;
}

.list-item__date {
  flex: 0 0 auto;
  font-size: 14px;
  color: #555;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  font-style: italic;
  margin-bottom: 10px;
}

.list-item__main h3 {
  margin: 0 15px auto 0;
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  white-space: normal;
}

.list-item__flex {
  display: flex;
  align-items: flex-start;
}

.list-item__footer {
  display: flex;
}

.list-footer__item {
  padding-right: 10px;
}

.price {
  margin: 0;
  background: #61bd4f;
  border-radius: 4px;
  color: #fff;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #d9edf7;
  border-color: #bce8f1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #f1f0f0;
  border-color: #eeeeee;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
